@model CheeseMVC.ViewModels.AddMenuItemViewModel



<form asp-controller="Menu" asp-action="AddMenuItem" method="post">
    <div class="form-group">

        <label asp-for="CheeseID"></label>
        <select asp-for ="CheeseID" asp-items="Model.Cheese"></select>
        <span asp-validation-for="CheeseID"></span>

    </div>

  
    <input type="hidden"  value="@ViewBag.ID" asp-for="MenuID" />

    <input type="submit" value="Add Item" />

</form>